In [3]:
i = 8
while i <= 14:
    print(i)
    i+=2

8
10
12
14

In [9]:
import numpy as np

randnums = np.random.randint(-50,51,5)
my_vect = []
for x in randnums:
    if x > 0: x = x-2
    elif x < 0: x = x+1
    else: x = 51
    my_vect.append(x)
print(randnums, my_vect)

[ 42  45 -25 -37  39] [40, 43, -24, -36, 37]

In [37]:
import pandas as pd

df1 = pd.DataFrame({"C1": ["a","a","b","b","c","c"],
                  "C2": [1,2,3,3,4,5],
                  "C3": ["Blue","Blue","Blue","Red","Red","Blue"]})
df2 = df1[df1.C3 == "Blue"]
df3 = df2.groupby(['C1']).sum()
print("df1",df1, "df2",df2, "df3",df3, sep = '\n\n')

df1

  C1  C2    C3
0  a   1  Blue
1  a   2  Blue
2  b   3  Blue
3  b   3   Red
4  c   4   Red
5  c   5  Blue

df2

  C1  C2    C3
0  a   1  Blue
1  a   2  Blue
2  b   3  Blue
5  c   5  Blue

df3

    C2
C1
a    3
b    3
c    5